/*Responsible for page scroll*/
html, body{
    overflow-y: scroll;
    
}

/*Container that holds movie frames*/
#bodyContainer{
    border: solid blanchedalmond 2px;
    border-radius: 15px;
    width: 100%-200;
    height: 100%;

    color: white;
    /*Position to left of side bar & under nav bar*/ 
    position: fixed;
    left: 230px;
    top: 100px;
    padding-left: 10px;  

    margin-left: 50px;

}

/*Position Movie frames*/
.positionFrames{
    display: flex;
    flex-wrap: wrap;
    
}

/*Styling for individual movie frames*/ 
.styleMovieFrame{
    border: solid black 2px;
    border-radius: 50px;

    width: 190px;
    height: 400px;

    
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    
    
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 6px;

   
}

#navBarContainer{
    border-bottom: solid black 2px;
    width: 100%;
    height: 80px;
    

    text-align: left;

    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    
    display: flex;
    position:fixed;
    left: -30px;
}

/*Style & Position nav bar titles*/ 
ul{
    list-style-type: none;
}

li{
    display: inline;
}

.styleNavBarTitles{
    font-size: 40px;
    padding-right: 15px;
    
}

#sideBarContainer{
    border-right: solid black 2px;
    
    width: 220px;
    height: 100%;    
    position: fixed;
    top: 100px;
    padding-right: 20px;
    padding-left: 5px;

    text-align: center;

}

#sideFilterContainer{
    border-bottom: solid black 2px;
    

    width: 240px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#positionSearchBarContainer{
    border: solid black 2px;
    width: 730px;
    float: none;
    margin-left: 50px;
}

.navSearchBar{
    border: solid black 2px;
    border-radius: 40px;
    background-color: white; 

    width: 950px;
    height: 60px;
    font: 20px;
    margin-top: 5px;
    margin-left: 100px;

    padding-left: 20px;
    padding-top: -10px;
    padding-bottom: 5px;
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navSearchBarButton{
    border: solid black 2px;
    border-radius: 20px;
    width: 100px;
    height: 45px;

    position: relative;
    right: 125px;
    top: -2px;


}







