h1{
    text-align: center;
}

/* Body & Movie Components*/
#bodyContainer{
    border: solid blanchedalmond 2px;
    border-radius: 15px;    
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.styleMovieFrame{
    border: solid black 2px;
    border-radius: 50px;
    width: 190px;
    height: 400px;    
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-table;
    margin-right: 25px;
    margin-top: 15px;
}

/*Top Navigation Bar*/
#navBarContainer{
    border-bottom: solid black 2px;
    width: 100%;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: inline-table;
}
 
ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-right: 50px;
}

.navBarTitles{
    font-size: 35px;    
    font-family: Arial, Helvetica, sans-serif;
}


.navSearchBar{
    border: solid black 2px;
    border-radius: 40px;
    background-color: white; 
    width: 800px;
    height: 60px;
    font: 20px;
    padding-left: 15px;
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navSearchBarButton{
    border: solid black 2px;
    border-radius: 20px;
    width: 100px;
    height: 50px;
}


.loginButton{
    width: 85px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: darkgray;
    float: right;
    margin-right: 15px;
}

.signupButton{
    width: 85px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: darkgray;
    float: right;  
}