
.card-img-top{
    width: 100%;
    height: 18vw;
    object-fit: fill;
}

.styleHomeButton{
    border: solid black 2px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

.movie-preview{
    text-align: center;
}
.movie-preview-info{
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    width: auto;
    max-width: 500px;
    padding: 15px;
}


/*AddMovie Styling*/
.addMovie{
    border: solid black 2px;
    border-radius: 5px;
    width: 100px;
    height: 45px;
}
.addMovieForm{
    border: solid black 2px; 
    width: 400px;
    height: fit-content;
    text-align: center;
    margin: auto;
    padding: 15px;
}
label{
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input{
    margin-bottom: 15px;
}

input[type="text"]{
    height: 35px;
}

input[type="submit"]{
    margin-top: 25px;
    width: 150px;
    height: 30px;
}

.movie-background {
  background-color: #808080;
}



